# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.pipenv/

# Instance and Database files
server/instance/
*.db
*.sqlite3

# IDE & OS files
.vscode/
.idea/
.DS_Store
